<div class="flex flex-col-reverse max-h-[50vh] pt-4 overflow-y-auto rounded bg-gray-300">
  <ng-container *ngIf="rootComments.length > 0; else noComments">
    <div
      *ngFor="let comment of rootComments; let i = index"
      class="px-5 flex space-x-4 relative">
      <div class="w-3">
        <div class="w-3 h-3 bg-dark rounded-full"></div>
        <div
          class="flex items-center justify-center h-full"
          *ngIf="i !== 0">
          <div class="w-0 h-full border-dotted border border-dark/40"></div>
        </div>
      </div>

      <div class="flex-grow -mt-2 pb-4">
        <app-comment-entry
          class="relative"
          [comment]="comment"></app-comment-entry>
        <div
          *ngIf="getChildrenComments(comment) as children"
          class="ml-6 mt-2">
          <app-comment-children [children]="children"></app-comment-children>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noComments>
    <p>No Comments</p>
  </ng-template>
</div>
