<div class="flex flex-col-reverse max-h-[50vh] pt-4 overflow-y-auto rounded bg-gray-300">
  <ng-container *ngIf="comments.length > 0; else noComments">
    <div
      *ngFor="let comment of comments; let i = index"
      class="px-5 flex space-x-4 relative">
      <div class="w-3">
        <div class="w-3 h-3 bg-dark rounded-full"></div>
        <div
          class="flex items-center justify-center h-full"
          *ngIf="i !== 0">
          <div class="w-0 h-full border-dotted border border-dark/40"></div>
        </div>
      </div>

      <div class="flex-grow -mt-2 pb-4">
        <comment-entry
          [comment]="comment"
          [isOpen]="i === 0"></comment-entry>
      </div>
    </div>
  </ng-container>
  <ng-template #noComments>
    <p>No Comments</p>
  </ng-template>
</div>
