<div class="overflow-x-auto rounded">
  <div class="w-full">
    <div class="flex flex-col">
      <div class="flex flex-row items-center bg-dark text-white">
        <ng-container *ngFor="let column of columns">
          <div class="py-3 px-6 text-center flex-1 font-bold">{{ column.name }}</div>
        </ng-container>
      </div>
      <div class="bg-gray-900 text-white text-sm font-light">
        <ng-container *ngFor="let row of rows">
          <div
            class="flex flex-row items-center not-last:border-b hover:bg-gray-500 cursor-pointer"
            [routerLink]="['.', row.id]">
            <div class="py-3 px-6 text-center flex-1 whitespace-nowrap font-bold">{{ row.symbol.name_sym }}</div>
            <div class="py-3 px-6 text-center flex-1 whitespace-nowrap font-semibold">{{ row.updown ? 'LONG' : 'SHORT' }}</div>
            <div class="py-3 px-6 text-center flex-1 whitespace-nowrap font-semibold">{{ row.date | date: 'dd/MM/yyyy' }}</div>
            <div class="py-3 px-6 text-center flex-1 whitespace-nowrap font-semibold">{{ row.timeframe }}</div>
            <div class="py-3 px-6 text-center flex-1 whitespace-nowrap font-semibold">{{ row.status.name_st }}</div>
            <div class="py-3 px-6 text-center flex-1 whitespace-nowrap font-semibold">
              <div class="flex justify-center space-x-2 items-center">
                <app-icon-button
                  iconSource="assets/svg/edit-32.svg"
                  [iconSvgStyle]="{ 'height.px': 32, 'width.px': 32 }"
                  iconSvgClass="hover:bg-gray-300"
                  class="svg-white"
                  (clickEvent)="gotoEditProjection(row.id, $event)"></app-icon-button>
                <app-icon-button
                  iconSource="assets/svg/delete.svg"
                  iconSvgClass="hover:bg-gray-300 rounded-full w-[20px] h-[20px] bg-red svg-red-stroke"
                  [iconSvgStyle]="{ 'width.px': 20, 'height.px': 20 }"
                  (clickEvent)="deleteProjection(row.id, $event)"></app-icon-button>

              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
