<div class="flex flex-col p-10">
  <div class="flex justify-center  items-center space-x-4">
    <app-trimester-selector></app-trimester-selector>
    <app-year-selector></app-year-selector>
    <app-filter-options>
      <ng-container resetButton>
        <button
          (click)="resetFilterForm()"
          class="bg-bright-blue rounded-sm px-2 py-1 text-white">
          Reset
        </button>
      </ng-container>
      <ng-container filters>
        <stats-filters-form></stats-filters-form>
      </ng-container>
    </app-filter-options>
  </div>
  <div
    *ngIf="hasOperations$ | async"
    class="flex flex-col mt-10 p-10 gap-4 bg-light-gray rounded">
    <div class="flex">
      <app-line-chart
        *ngIf="operationData$ | async as operationData"
        [data]="operationData"></app-line-chart>
      <app-pie-chart
        *ngIf="operationRevenueData$ | async as operationRevenueData"
        [data]="operationRevenueData"></app-pie-chart>
    </div>
    <div class="flex justify-center items-center gap-4">
      <app-hope
        *ngIf="operationRevenueData$ | async as operationRevenueData"
        [data]="operationRevenueData"></app-hope>
      <app-averages
        *ngIf="operationData$ | async as operationData"
        [data]="operationData"></app-averages>
    </div>
  </div>
</div>
