<div class="h-[48px] justify-between items-center flex flex-nowrap border border-dark/[.08] rounded-md px-4 gap-4 bg-white">
  <button
    (click)="previousYear()"
    [disabled]="isPrevDisabled">
    <svg-icon
      src="assets/svg/go-left.svg"
      [svgStyle]="{ 'width.px':32,'opacity': isPrevDisabled ? 0.4 : 1 }"></svg-icon>
  </button>

  <h5>{{ this.year }}</h5>

  <button
    (click)="nextYear()"
    [disabled]="isNextDisabled">
    <svg-icon
      src="assets/svg/go-right.svg"
      [svgStyle]="{ 'width.px':32 ,'opacity': isNextDisabled ? 0.4 : 1  }"></svg-icon>
  </button>
</div>
