<ng-container *ngIf="filteredProjections$ | async as projections; else loading">
  <div class="flex justify-between items-center p-5">
    <div class="flex  items-center space-x-4">
      <div class="pb-2">
        <app-search-by-text
          [searchControl]="searchProjectionsControl"
          placeholder="Search by symbol"></app-search-by-text>
      </div>
      <app-trimester-selector></app-trimester-selector>
      <app-year-selector></app-year-selector>
      <app-filter-options></app-filter-options>
    </div>
    <app-rounded-button
      [text]="'Add projection'"
      [bgColor]="'bg-green'"
      (clickEvent)="goToAdd()">
    </app-rounded-button>
  </div>
  <div class="p-5">
    <app-table-projection
      [rows]="projections"
      (deleteEvent)="onDeleteProjection($event)"></app-table-projection>
  </div>
  <app-sidebar
    [sidebarState]="sidebarRight.isActivated ? 'in' : 'out'"
    (closeEvent)="onCloseSidebar()">
    <ng-container right-content>
      <router-outlet #sidebarRight="outlet"></router-outlet>
    </ng-container>
  </app-sidebar>
</ng-container>
<ng-template #loading>
  <app-loading-template></app-loading-template>
</ng-template>
