<ng-container *ngIf="projections$ | async; else loading">
  <div class="flex justify-between p-5">
    <div class="search-container">
      <input
        type="text"
        placeholder="Search by symbol, timeframe or status"
        #inputFilter>
      <button
        type="submit"
        (click)="onFilterProjections(inputFilter.value)">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <app-rounded-button
      [text]="'Add projection'"
      [color]="'bg-green'"
      [routerLink]="'add'">
    </app-rounded-button>

  </div>
  <div class="px-5">
    <app-table [rows]="projections$ | async"></app-table>
  </div>
  <app-sidebar-right
    class="fixed top-0 bottom-0 right-0 md:w-[460px] overflow-auto"
    [@sidebarRightInOut]="sidebarRightAnimationState">
    <router-outlet
      (activate)="sidebarRightAnimationState = 'in'"
      (deactivate)="sidebarRightAnimationState = 'out'"></router-outlet>

  </app-sidebar-right>
</ng-container>
<ng-template #loading>
  <app-loading-template></app-loading-template>
</ng-template>
