<nav class="bg-gray-800">
  <div class="sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-baseline space-x-5">
        <a
          routerLink
          class="text-white text-lg font-semibold">
          {{title}}
        </a>
        <a
          *ngFor="let btn of (buttons??[])"
          [routerLink]="btn.link"
          queryParamsHandling="preserve"
          class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          routerLinkActive="text-white">
          {{btn.text}}
        </a>
      </div>

      <ng-content></ng-content>

    </div>
  </div>
</nav>
