<div class="flex flex-row p-10">
  <div class="flex flex-col">
    <app-card>
      <h2 class="text-xl font-bold mb-2">Projection</h2>
      <div class="flex flex-row space-x-8">

        <div class="flex flex-col space-y-2">
          <label class="font-semibold">Symbol</label>
          <label class="font-semibold">Type</label>
          <label class="font-semibold">Date</label>
          <label class="font-semibold">Timeframe</label>
          <label class="font-semibold">Status</label>
        </div>

        <div class="flex flex-col space-y-3">
          <app-label
            [text]="'EURUSD'"
            bgColor="bg-dark-gray"
            textColor="text-white"></app-label>
          <app-label
            [text]="'LONG'"
            bgColor="bg-dark-gray"
            textColor="text-white"></app-label>
          <app-label
            [text]="'LONG'"
            bgColor="bg-dark-gray"
            textColor="text-white"></app-label>
          <app-label
            [text]="'LONG'"
            bgColor="bg-dark-gray"
            textColor="text-white"></app-label>
          <app-label
            [text]="'LONG'"
            bgColor="bg-dark-gray"
            textColor="text-white"></app-label>
        </div>
      </div>

    </app-card>

    <img
      [src]="imageUrl"
      alt="chart image">
  </div>

  <tradingview-widget [widgetConfig]="widgetConfig"></tradingview-widget>
</div>
