<app-back-to
  backText="BACK TO PROJECTIONS"
  backTo="../../"
  [queryParams]="backToQueryParams"></app-back-to>
<div *ngIf="!isLoading; else loading">
  <div class="fixed top-1/2">
    <app-icon-button
      iconSource="assets/svg/go-left.svg"
      [iconSvgStyle]="{'width.px': 50, 'height.px': 50}"
      (clickEvent)="navigatePreviousProjection()"></app-icon-button>
  </div>
  <div class="flex flex-col m-20">
    <ng-container *ngIf="projection$ | async as projection else loading">
      <app-card>
        <h2 class="text-xl font-bold mb-2">Projection</h2>
        <div class="flex flex-row space-x-8">

          <div class="flex flex-col space-y-2">
            <label class="font-semibold">Symbol</label>
            <label class="font-semibold">Type</label>
            <label class="font-semibold">Date</label>
            <label class="font-semibold">Timeframe</label>
            <label class="font-semibold">Status</label>
          </div>

          <div class="flex flex-col space-y-3">
            <app-label
              [text]="projection.symbol.name_sym"
              bgColor="bg-dark-gray"
              textColor="text-white"></app-label>
            <app-label
              [text]="projection.updown ? 'LONG' : 'SHORT'"
              bgColor="bg-dark-gray"
              textColor="text-white"></app-label>
            <app-label
              [text]="(projection.date | date: 'yyyy-MM-dd')!"
              bgColor="bg-dark-gray"
              textColor="text-white"></app-label>
            <app-label
              [text]="projection.timeframe"
              bgColor="bg-dark-gray"
              textColor="text-white"></app-label>
            <app-label
              [text]="projection.status.name_st"
              bgColor="bg-dark-gray"
              textColor="text-white"></app-label>
          </div>
        </div>

      </app-card>
    </ng-container>
    <img
      [src]="imageUrl"
      alt="chart image">
  </div>
  <div class="fixed top-1/2 right-0">
    <app-icon-button
      iconSource="assets/svg/go-right.svg"
      [iconSvgStyle]="{'width.px': 50, 'height.px': 50}"
      (clickEvent)="navigateNextProjection()"></app-icon-button>
  </div>
</div>
<ng-template #loading>
  <app-loading-template></app-loading-template>
</ng-template>
