.container {
    max-width: 700px;
    width: 100%;

    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*Buttons projections/operations*/
.button {
    display: inline-block;
    padding: 25px 25px;
    font-size: 40px;
    min-width: 400px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }