
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class="container">
      <div id="button-panel"  align="center">
        <img src="./assets/images/trading_stats.png">
        
        <br><br>

        <button id="button_proj" class="button" type="submit">PROJECTIONS</button>

        <br><br><br>

        <button id="button_op" class="button" type="submit">OPERATIONS</button>
      </div>  
    </div>
  </body>
</html>