<div class="h-screen flex flex-col justify-center items-center">
  <div class="bg-dark p-7 rounded-[10px] py-16 px-20">
    <h1 class="text-white text-center text-2xl font-bold mb-8">TRADING STATS</h1>
    <form class="just w-[370px]">
      <div class="mb-4">
        <label
          class="block text-white text-sm font-bold mb-2"
          for="username">
          Username
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-dark"
          id="username"
          type="text"
          placeholder="Username">
      </div>
      <div class="mb-6">
        <label
          class="block text-white text-sm font-bold mb-2"
          for="password">
          Password
        </label>
        <input
          class="shadow appearance-none border  rounded w-full py-2 px-3 text-dark mb-3"
          id="password"
          type="password"
          placeholder="******************">
      </div>
      <button
        class="bg-blue-500 w-full h-12 rounded-full font-semibold text-white disabled:bg-dark disabled:bg-opacity-60"
        [routerLink]="['/']">
        Login
      </button>

    </form>

  </div>
</div>
