<ng-container *ngIf="projection$ | async as projection; else loading">
  <div class="p-8 bg-dark">
    <div class="flex justify-between">
      <app-close-button (closeEvent)="onCloseSidebar()"></app-close-button>

      <div class="flex flex-row items-center space-x-5">
        <app-rounded-button
          text="Edit"
          bgColor="bg-orange"
          type="submit"
          (clickEvent)="goToEdit(projection.id)">
        </app-rounded-button>

        <app-rounded-button
          text="Delete"
          bgColor="bg-red"
          type="submit"
          (click)="onDeleteProjection(projection)"></app-rounded-button>
      </div>
    </div>
  </div>

  <div class="p-8">
    <div class="flex items-center justify-between">
      <p class="text-white font-semibold">PROJECTION DETAILS</p>
      <div *ngIf="projection.graph">
        <button
          type="button"
          (click)="goToChart(projection.id)">
          <label class="flex flex-row bg-blue-turquoise rounded text-white items-center font-semibold p-3">
            <svg-icon
              [svgStyle]="{'height.px': 32, 'width.px': 32}"
              src="assets/svg/graphics.svg"></svg-icon>
            <div class="pl-2">
              <h5 class="text-center">View chart</h5>
            </div>
          </label>
        </button>
      </div>
    </div>
    <div class="flex items-center justify-between pt-5">
      <app-form-label text="Symbol"></app-form-label>
      <div class="pl-10">
        <app-label [text]="projection.symbol.name_sym"></app-label>
      </div>
    </div>

    <div class="flex items-center justify-between pt-5">
      <app-form-label text="Order type"></app-form-label>
      <div class="pl-[17px]">
        <app-label [text]="projection.updown ? 'LONG' : 'SHORT'"></app-label>

      </div>
    </div>

    <div
      *ngIf="projection.date"
      class="flex items-center justify-between pt-5">
      <app-form-label text="Date"></app-form-label>
      <div class="pl-[60px]">
        <app-label [text]="(projection.date | date: 'yyyy-MM-dd')!"></app-label>
      </div>
    </div>

    <div class="flex items-center justify-between pt-5">
      <app-form-label text="Timeframe"></app-form-label>
      <div class="pl-5">
        <app-label [text]="projection.timeframe"></app-label>
      </div>
    </div>

    <div class="flex items-center justify-between pt-5">
      <app-form-label text="Status"></app-form-label>
      <div class="pl-[50px]">
        <app-label [text]="projection.status.name_st"></app-label>
      </div>
    </div>

    <div class="flex items-center justify-between pt-5">
      <app-form-label text="Comment"></app-form-label>
      <div class="pl-7">
        <app-text-area
          *ngIf="comment$ | async as comment;"
          [text]="comment.pcomment"
          [cols]="30"></app-text-area>
      </div>
    </div>

  </div>
</ng-container>

<ng-template #loading>
  <app-loading-template></app-loading-template>
</ng-template>
