<ng-container *ngIf="projectionDetails$ | async as projection; else loading">
  <div class="p-8 bg-dark">
    <div class="flex justify-between">
      <app-close-button routerLink="../"></app-close-button>

      <app-rounded-button
        text="Edit"
        bgColor="bg-orange"
        type="submit">
      </app-rounded-button>
    </div>
  </div>
  <div class="p-8">
    <div class="flex flex-row items-center">
      <app-form-label text="Symbol"></app-form-label>
      <div class="pl-10">
        <app-rounded-label [text]="projection.name_sym ?? 'EUR/USD'"></app-rounded-label>
      </div>
    </div>

    <div class="flex flex-row items-center pt-5">
      <app-form-label text="Order type"></app-form-label>
      <div class="pl-[17px]">
        <app-rounded-label [text]="'BUY'"></app-rounded-label>

      </div>
    </div>

    <div class="flex flex-row items-center pt-5">
      <app-form-label text="Timeframe"></app-form-label>
      <div class="pl-5">
        <app-rounded-label [text]="'M1'"></app-rounded-label>

      </div>
    </div>

    <div class="flex flex-row items-center pt-5">
      <app-form-label text="Status"></app-form-label>
      <div class="pl-[50px]">
        <app-rounded-label [text]="'ACTIVE'"></app-rounded-label>

      </div>
    </div>

    <div class="flex flex-row items-center pt-5">
      <app-form-label text="Comment"></app-form-label>
      <div class="pl-7">
        <textarea
          cols="30"
          rows="5">
        </textarea>
      </div>
    </div>

    <label>View chart button</label>

  </div>
</ng-container>

<ng-template #loading>
  <app-loading-template></app-loading-template>
</ng-template>
