<app-navbar
  [title]="title"
  [buttons]="buttons">
  <div class="flex items-center gap-5">
    <p class="text-white font-medium">Account type:</p>
    <select
      name="accontTypeSelect"
      class="rounded h-8"
      [formControl]="accountControl">
      <option
        *ngFor="let account of accountTypes"
        [value]="account">
        {{account}}
      </option>
    </select>
    <ng-container *ngIf="isDefaultAccount; else setDefault">
      <app-rounded-button
        text="default"
        bgColor="bg-blue-turquoise"
        styles="rounded text-white text-sm p-1"
        (clickEvent)="deleteDefaultAccount()"></app-rounded-button>
    </ng-container>

    <app-icon-button
      iconSource="assets\svg\logout.svg"
      class="svg-white"
      routerLink="/authentication"></app-icon-button>
  </div>
</app-navbar>
<router-outlet></router-outlet>

<ng-template #setDefault>
  <app-rounded-button
    text="set default"
    bgColor="bg-gray-400"
    styles="rounded text-white text-sm p-1"
    (clickEvent)="setDefaultAccount()"></app-rounded-button>
</ng-template>
