<app-navbar
  [title]="title"
  [buttons]="buttons">
  <div class="flex flex-row space-x-2 items-center">
    <p class="text-white font-medium">Account: {{account}}</p>
    <div class="flex flex-row space-x-1">
      <app-rounded-button
        text="switch"
        bgColor="bg-blue-turquoise"
        styles="rounded text-white text-sm p-1"
        (clickEvent)="switchAccount()"></app-rounded-button>
      <!-- <app-rounded-button
        text="set default"
        bgColor="bg-gray-400"
        styles="rounded text-white text-sm p-1"></app-rounded-button> -->
    </div>
  </div>
</app-navbar>
<router-outlet></router-outlet>
