<div class="flex flex-col">
  <div class="flex justify-end pr-20">
    <app-back-to
      backText="BACK TO OPERATIONS"
      backTo="../../"></app-back-to>
  </div>

  <icon-button
    class="fixed top-16 right-0"
    iconSource="assets/svg/sidebar-icon-21.svg"
    [iconSvgStyle]="{ 'height.px': 50, 'width.px': 50 }"
    iconSvgClass="bg-gray-300 rounded-md p-1"
    (clickEvent)="openSidebarLeft()"></icon-button>
  <icon-button
    class="fixed top-32 right-0"
    iconSource="assets/svg/bookmark-plus.svg"
    [iconSvgStyle]="{ 'height.px': 50, 'width.px': 50 }"
    iconSvgClass="bg-gray-300 rounded-md p-1"
    (clickEvent)="setBookmark()"></icon-button>

  <div
    *ngIf="!isLoading; else loading"
    class="overflow-hidden">
    <div class="fixed top-1/2">
      <icon-button
        iconSource="assets/svg/go-left.svg"
        [iconSvgStyle]="{ 'width.px': 50, 'height.px': 50 }"
        (clickEvent)="navigatePreviousOperation()"></icon-button>
    </div>
    <div
      class="flex m-20"
      [@slideAnimation]="slideState">
      <img
        [src]="imageUrl"
        alt="chart image">
    </div>
    <div class="fixed top-1/2 right-0">
      <icon-button
        iconSource="assets/svg/go-right.svg"
        [iconSvgStyle]="{ 'width.px': 50, 'height.px': 50 }"
        (clickEvent)="navigateNextOperation()"></icon-button>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading-template></app-loading-template>
</ng-template>

<app-sidebar
  mode="left"
  [sidebarState]="(sidebarLeftState$ | async) ?? 'out'"
  [fadeDarkBackground]="false"
  (closeEvent)="closeSidebarLeft()">
  <ng-container left-content>
    <router-outlet></router-outlet>
  </ng-container>
</app-sidebar>
