<div class="flex flex-col">
  <div class="flex justify-end pr-20">
    <app-back-to
      backText="BACK TO OPERATIONS"
      backTo="../../"
      [queryParams]="backToQueryParams"></app-back-to>
  </div>

  <div *ngIf="!isLoading; else loading">
    <div class="fixed top-1/2">
      <app-icon-button
        iconSource="assets/svg/go-left.svg"
        [iconSvgStyle]="{'width.px': 50, 'height.px': 50}"
        (clickEvent)="navigatePreviousOperation()"></app-icon-button>
    </div>
    <div class="flex m-20">
      <img
        [src]="imageUrl"
        alt="chart image">
    </div>
    <div class="fixed top-1/2 right-0 z-10">
      <app-icon-button
        iconSource="assets/svg/go-right.svg"
        [iconSvgStyle]="{'width.px': 50, 'height.px': 50}"
        (clickEvent)="navigateNextOperation()"></app-icon-button>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading-template></app-loading-template>
</ng-template>

<app-sidebar
  mode="left"
  [sidebarState]="(sidebarLeftState$ | async) ?? 'out'"
  [fadeDarkBackground]="false"
  (closeEvent)="closeSidebarLeft()">
  <ng-container left-content>
    <router-outlet></router-outlet>
  </ng-container>
</app-sidebar>
<app-icon-button
  class="fixed top-16 bottom-0 right-0"
  iconSource="assets/svg/sidebar-icon-21.svg"
  [iconSvgStyle]="{'height.px': 50, 'width.px': 50}"
  (clickEvent)="openSidebarLeft()"></app-icon-button>
