/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('assets/images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.square-btn {
  @apply rounded-md px-4 py-1 min-w-[52px] h-[48px] flex justify-center items-center;
}

/* SVG */

.svg-white svg {
  @apply fill-white;
}

a {
  @apply cursor-pointer;
}
