<ng-container *ngIf="orderedOperations$ | async as operations; else loading">
  <div class="flex flex-col gap-2">
    <div class="flex justify-between items-center p-5">
      <div class="flex items-center gap-7">
        <div class="pb-2">
          <app-search-by-text
            [searchControl]="searchOperationsControl"
            [isSearchActive]="(isSearchActive$ | async)!"
            placeholder="Search by symbol"></app-search-by-text>
        </div>
        <app-trimester-selector></app-trimester-selector>
        <app-year-selector></app-year-selector>
        <app-filter-options>
          <ng-container resetButton>
            <button
              (click)="resetFilterForm()"
              class="bg-bright-blue rounded-sm px-2 py-1 text-white">
              Reset
            </button>
          </ng-container>
          <ng-container filters>
            <operation-filters-form></operation-filters-form>
          </ng-container>
          <ng-container orderBy>
            <select
              name="orderBySelect"
              class="rounded border-2"
              [formControl]="orderBySelect">
              <option value="Date open">Date open</option>
              <option value="Timeframe">Timeframe</option>
            </select>
          </ng-container>
        </app-filter-options>
      </div>
      <div class="flex items-center gap-4">
        <icon-button
          iconSource="assets/svg/pergamin.svg"
          [iconSvgStyle]="{ 'height.px': 60, 'width.px': 60 }"
          (clickEvent)="goToRules()"></icon-button>
        <icon-button
          iconSource="assets/svg/bookmark-plus.svg"
          [iconSvgStyle]="{ 'height.px': 50, 'width.px': 50 }"
          (clickEvent)="goToBookmark()"></icon-button>
        <app-rounded-button
          [text]="'Add operation'"
          [bgColor]="'bg-green'"
          (clickEvent)="goToAdd()">
        </app-rounded-button>
      </div>
    </div>
    <p class="text-white font-semibold pl-5">
      Result: {{ n_operations$ | async }}
    </p>
    <app-table-operation
      class="px-5 pb-10"
      [rows]="operations"
      (deleteEvent)="onDeleteOperation($event)"></app-table-operation>
  </div>
  <app-sidebar
    [sidebarState]="sidebarRight.isActivated ? 'in' : 'out'"
    (closeEvent)="onCloseSidebar()">
    <ng-container right-content>
      <router-outlet #sidebarRight="outlet"></router-outlet>
    </ng-container>
  </app-sidebar>
</ng-container>
<ng-template #loading>
  <app-loading-template></app-loading-template>
</ng-template>
