<div class="flex justify-center items-center h-full">
  <div class="flex-col p-5">
    <img src="./assets/images/trading_stats.svg">

    <div class="button-group">

      <div class="flex pt-5 justify-center">
        <a
          class="button p-5"
          routerLink="/projections">
          PROJECTIONS
        </a>
      </div>
      <div class="flex pt-5 pb-5 justify-center">
        <a
          class="button p-5"
          routerLink="/operations">
          OPERATIONS
        </a>
      </div>

    </div>
  </div>
</div>
