<div [ngClass]="'flex flex-nowrap justify-between items-center border border-dark/[.08] rounded-md px-4 gap-4 hover:border-dark ' + bgColor">
  <icon-button
    iconSource="assets/svg/go-left.svg"
    (clickEvent)="previousMonth()"></icon-button>

  <input
    #date
    (change)="updateDate(date.valueAsDate)"
    type="month"
    [value]="value"
    [ngClass]="'text-center ' + bgColor">

  <icon-button
    iconSource="assets/svg/go-right.svg"
    (clickEvent)="nextMonth()">
  </icon-button>
</div>
